@page "/members"

<h1 class="page-title">List of all Members</h1>

@if (Profiles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (Profiles.ResponseCode == ReturnCodesConstant.R00)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table  table-hover table-bordered">
                    <thead>
                        <tr>

                            <th>Profile Number</th>
                            <th>Full Name</th>
                            <th>Status</th>
                            <th>Active Since</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Profiles.ResponseData)
                        {
                            @if (@item.StatusDescription == "Closed")
                            {
                                AlertLevel = "alert-danger";
                            }
                            <tr class=@AlertLevel>
                                <td>
                                    @item.ProfileNumber
                                </td>
                                <td>
                                    @item.FullName
                                </td>
                                <td>
                                    @item.StatusDescription
                                </td>
                                <td>
                                    @item.ActiveDate.ToString("dd-MMM-yyyy")
                                </td>

                            </tr>
                        }

                    </tbody>

                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <p>No Records Founds</p>
        </div>
        <p></p>
    }
}



