@model ResponseModel<ProfileResponse>



@if (Model.ResponseCode == ReturnCodesConstant.R00)
{
    <div class="row">
        <div class="col-md-12">
            <table class="table  table-hover table-striped table-bordered ">
                <thead class="table-success">
                    <tr>

                        <th>Profile Number</th>
                        <th>Full Name</th>
                        <th>Status</th>
                        <th>Active Since</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ResponseData)
                    {
                        
                        <tr>
                           
                                <td>
                                    <a asp-controller="member" asp-action="Details" asp-route-id="@item.ProfileNumber">
                                        @item.ProfileNumber
                                    </a>
                                    
                                </td>
                            
                                <td>
                                    @item.FullName
                                </td>
                                <td>
                                    @item.StatusDescription
                                </td>
                                <td>
                                    @item.ActiveDate.ToString("dd-MMM-yyyy")
                                </td>
                            
                            

                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
}
else
{
    <div class="row">
        <p>No Records Founds</p>
    </div>
    <p></p>
}
